<section data-ng-controller="HomeController">
	<div class="site-about-block">
		<h1>About the project</h1>
    <h4>GA final project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque vitae aperiam sed voluptatem non nesciunt, autem quia repudiandae fugiat saepe amet deleniti nam dolorem asperiores magnam earum, quos, consequuntur harum.</h4>
    <h1>EEG Headsets</h1>
    <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque vitae aperiam sed voluptatem non nesciunt, autem quia repudiandae fugiat saepe amet deleniti nam dolorem asperiores magnam earum, quos, consequuntur harum.</h4>
    <h1>How it works</h1>
		<h4>Some are designed to train your focus and others are meditative aids, and some are more frivolous. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque vitae aperiam sed voluptatem non nesciunt, autem quia repudiandae fugiat saepe amet deleniti nam dolorem asperiores magnam earum, quos, consequuntur harum.</h4>
    <h1>Design objective</h1>
    <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque vitae aperiam sed voluptatem non nesciunt, autem quia repudiandae fugiat saepe amet deleniti nam dolorem asperiores magnam earum, quos, consequuntur harum.</h4>
    <h1>Future extensions</h1>
    <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque vitae aperiam sed voluptatem non nesciunt, autem quia repudiandae fugiat saepe amet deleniti nam dolorem asperiores magnam earum, quos, consequuntur harum.</h4>
    <div class="about-bottom"></div>
	</div>
</section>