<section data-ng-controller="HomeController">
	<div class="site-about-block">
    
    <h1>How it works</h1>

	<h4>Your brain is made of lots of neurons sending electrical charges to each other. When a lot of neurons work together, an electrical signal can be detected from your scalp using an EEG (electroencephalogram) headset. The electrical pattern changes depending on what you are doing. So for example, when you focus, the pattern is different to when you meditate.</h4>

    <h1>Development</h1>

    <h4>Though there are several other electrical patterns discernable with the technology, focus and meditation have been chosen here as the two that benefit most from ongoing practice. Already-identified benefits range from increased mindfulness, to the treatment of ADHD and chronic pain, to stroke rehabilitation.</h4>
    <h4>With this app as a functioning proof of concept and a platform for ongoing experiment, my hope is to explore the area further. To learn more or get involved, the repository is accessible on <a href="https://github.com/jackbush/BCI-site">Github</a>.</h4>

    <h1>Compatibility</h1>

    <h4>At present, the app supports all <a href="http://neurosky.com/biosensors/eeg-sensor/">Neurosky</a> biosensors.</h4>

    <div class="about-bottom"></div>
	</div>
</section>