<section data-ng-controller="HomeController">
	<div class="site-home-block">
		<h1>BCI site</h1>
		<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus nulla dolores voluptas voluptatem repudiandae, ducimus iure velit cupiditate, optio unde numquam. Placeat rem reiciendis cumque rerum alias? Quam, dicta unde.</h3>
	</div>
	<div class="site-home-block">
		<h1>Video</h1>
	</div>
	<div class="site-home-block">
		<h1>How it works</h1>
	</div>
	<div class="site-home-block">
		<h1>Visualisation</h1>
	</div>
	<div class="site-home-block">
		<h1>Apps</h1>
	</div>
</section>