<section data-ng-controller="HomeController">
	<div class="site-home-block">
		<h1>Plugging in</h1>
		<h3>Welcome. Using the full site requires an EEG; if you do not have one, the <a href="http://neurosky.com/biosensors/eeg-sensor/">Neurosky</a> headsets are a great place to start. To get started, plug in your headset and click the 'connection' area in the top right corner. As soon as a link is established, streaming data will appear.</h3>
		<h3>Below are two simple exercises to introduce you to the technology; one responding to focus and the other meditation. Once you're feeling comfortable, use the navigation links above to click through to more complex games and visualisations.</h3>
	</div>
	<p5></p5>
	<div class="site-home-block">
		<h1>Focus Exercise</h1>
		<h3>Control the size of the circle by focussing on it. See if you can get it to touch the edge of the canvas, and how long you can hold it at that size.</h3>
	</div>
	<p5></p5>
	<div class="site-home-block">
		<h1>Meditation Exercise</h1>
		<h3>Calm your mind to slow the oscillation of the graph. Breathe deeply and see if you can get the visualisation to stop entirely.</h3>
	</div>
</section>