/*generic*/
* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'DIN'
}
h1 {
  text-transform: uppercase;
  border-bottom: 2px solid black;
  display: inline-block;
}
p {
  font-family: 'Georgia'
}

/*nav*/
.site-header {
  position: fixed;
  width: 100%;
  height: 50px;
  top: 0;
  padding: 0px;
  background: rgba(20,20,20,1);
}
.nav-title {
  float: left;
  font-size: 16px; 
}
.nav-items {
  float: right;
  margin-top: 15px;
  text-align: center;
  color: white;
}
.nav-item {
  display:inline-block;
  width: 90px;
  font-size: 12px;
  padding: 3px;
  margin: 2px;
  border: 1px solid #22223B;
}
.nav-item a {
  text-decoration: none;
}
.nav-eeg {
  display: inline-block;
  float: right;
  width: 300px;
  background: #222;
  height: 50px;
  margin: 0;
}


.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}
.site-home-block {
  min-height: 500px;
  margin-bottom: 5px;
  padding: 50px;
  background: #eee;
}