h1, h2, h3, h4, h5, h6 {
  font-family: 'DIN'
}
h1 {
  text-transform: uppercase;
}
p {
  font-family: 'Georgia'
}
.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}
.site-home-block {
  min-height: 500px;
  margin-bottom: 5px;
  padding: 50px;
  background: #eee;
}