/*FONTS*/
@font-face {
  font-family: 'DIN';
  src: url('din_bold-webfont.eot');
  src: url('din_bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('din_bold-webfont.woff2') format('woff2'),
       url('din_bold-webfont.woff') format('woff'),
       url('din_bold-webfont.ttf') format('truetype'),
       url('din_bold-webfont.svg#dinbold') format('svg');
}
@font-face {
  font-family: 'DIN';
  src: url('din-webfont.eot');
  src: url('din-webfont.eot?#iefix') format('embedded-opentype'),
       url('din-webfont.woff2') format('woff2'),
       url('din-webfont.woff') format('woff'),
       url('din-webfont.ttf') format('truetype'),
       url('din-webfont.svg#dinregular') format('svg');
  font-weight: bold;
}
/*GENERIC*/
* {
  box-sizing: border-box;
  font-family: 'DIN', 'Cabin', 'Helvetica' sans-serif;
  font-weight: normal;
}
a, a:active, a:focus {
  outline: none !important;
  color: black;
}
body {
  padding: 0;
  margin: 0;
  background: rgb(250,250,250);
}
h1 {
  text-transform: uppercase;
  display: inline-block;
}
h2 a {
  font-weight: normal;
  text-decoration: none;
}
h2 a:hover {
  border-bottom: 1px solid black;
}
h3, h4 {
  font-weight: normal;
  line-height: 1.5;
}
.nav-eeg h5 {
  margin: 20px 0 5px 0;
}
.nav-eeg h6 {
  margin: 1px;
  font-weight: normal;
}
.full-page-sketch {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
}
/*NAV*/
.site-header {
  position: fixed;
  width: 100%;
  height: 50px;
  top: 0;
  padding: 0;
  background: rgb(20,20,20);
  text-transform: uppercase;
}
.site-header a {
  text-decoration: none;
  color: white;
}
.nav-title {
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px;
  /*width: 200px;*/
  height: 50px;
  background: rgb(20,20,20);
  font-size: 24px;
}
.nav-items {
  float: left;
  margin: 13px 0 0 120px;
  text-align: center;
}
.nav-items a {
  text-decoration: none;
  color: white;
}
.nav-item {
  display:inline-block;
  width: 120px;
  font-size: 11px;
  padding: 5px;
  margin-right: 20px;
  border: 1px solid white;
}
.nav-item a {
  text-decoration: none;
}
.nav-eeg {
  position: fixed;
  top: 0;
  right: 0;
  width: 220px;
  height: 50px;
  background: white;
  padding: 0;
  font-size: 24px;
  color: black !important;
  overflow: hidden;
  transition: 0.3s;
}
.nav-eeg-extended {
  height: 382px;
}
.nav-eeg-top {
  width: 220px;
  height: 50px;
  padding: 10px;
  color: #eee;
  background: rgb(20,24,39);
  text-align: right;
  cursor: pointer;
}
.nav-eeg-bottom {
  padding: 0 10px 10px 10px;
}
.content {
	margin-top: 50px;
}
/*HOMEPAGE*/
.full-page-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 2000px;
  background: rgb(20,24,39);
  z-index: -100;
}
.full-page-overlay {
  width: 100%;
  position: fixed;
  color: rgb(20,24,39);
  bottom: 0;
  left: 0;
  z-index: 100;
}
.home-center {
  width: 1035px;
  margin: 0 auto;
  padding: 0;
}
.home-title {
  float: left;
  width: 380px;
  text-align: right;
  text-transform: uppercase;
  font-size: 72px;
  font-weight: bold;
}
.home-text {
  width: 655px;
  padding-top: 14px;
  padding-left: 14px;
  float: left;
  font-size: 26px;
}
/*INTRODUCTION*/
.introduction-block {
  margin: 72px 0 -50px 22px;
  padding: 10px 20px;
  width: 300px;
  background: #eee;
  transition: 0.3s;
  z-index: 100;
}
.introduction-block h1 {
  margin: 0;
}
.introduction-block h4 {
  margin: 5px 0;
}
.introcollapsed {
  height: 58px;
  overflow: hidden;
  cursor: pointer;
}
/*ABOUT*/
.site-about-block {
  width: 960px;
  margin: 30px auto;
  padding-top: 70px;
}
.site-about-block h1, .site-about-block h4 {
  display: block;
  padding-left: 10px;
  margin: 0;
}
.site-about-block h1 {
  margin-top: 20px;
  margin-bottom: 0;
}
.site-about-block h4 {
  margin-top: 8px;
  margin-bottom: 0;
}
.about-bottom {
  clear: both;
  width: 100%;
  height: 40px;
}
/*BAKED IN*/
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}