<section data-ng-controller="VisualisationController">
	<div class="eeg-feed-data">
    <h1>EEG DATA</h1>
    <h4>SIGNAL: {{eegSignal ? eegSignal : '0'}}%</h4>
    <h4>ATTENTION: {{eegAttention}}</h4>
    <h4>MEDITATION: {{eegMeditation}}</h4>
    <h4>DELTA: {{eegDelta}}</h4>
    <h4>THETA: {{eegTheta}}</h4>
    <h4>LOW ALPHA: {{eegLowAlpha}}</h4>
    <h4>HIGH ALPHA: {{eegHighAlpha}}</h4>
    <h4>LOW BETA: {{eegLowBeta}}</h4>
    <h4>HIGH BETA: {{eegHighBeta}}</h4>
    <h4>LOW GAMMA: {{eegLowGamma}}</h4>
    <h4>HIGH GAMMA: {{eegHighGamma}}</h4>
    <h4>BLINK: {{eegBlink}}</h4>
  </div>
  <p5 sketch="Eegvisualisation" class="eeg-feed-graph"></p5>
</section>

<!-- ALT SIGNAL LOGIC
<h4>
  SIGNAL:
  <span ng-show="{{eegSignal}}">{{eegSignal}}%</span>
  <span ng-hide="{{eegSignal}}">NO CONNECTION</span>
</h4> -->