<section data-ng-controller="VisualisationController">
	<div class="site-home-block">
    <h1>EEG DATA</h1>
    <h4>test: {{test}}</h4>
    <h4>ATTENTION: {{eegAttention}}</h4>
    <h4>MEDITATION: {{eegMeditation}}</h4>
    <h4>DELTA: {{eegDelta}}</h4>
    <h4>THETA: {{eegTheta}}</h4>
    <h4>LOW ALPHA: {{eegLowAlpha}}</h4>
    <h4>HIGH ALPHA: {{eegHighAlpha}}</h4>
    <h4>LOW BETA: {{eegLowBeta}}</h4>
    <h4>HIGH BETA: {{eegHighBeta}}</h4>
    <h4>LOW GAMMA: {{eegLowGamma}}</h4>
    <h4>HIGH GAMMA: {{eegHighGamma}}</h4>
    <h4>BLINK: {{eegBlink}}</h4>
    <h4>SIGNAL: {{eegSignal}}</h4>
  </div>
</section>