<section data-ng-controller="VisualisationController">
  <p5 sketch="circleVisualisation" class="full-page-sketch"></p5>
</section>
<!-- <section data-ng-controller="VisualisationController">
  <div class="graphic-index">
    <h1>Visualisations</h1>
    <a ng-repeat="visualisation in visualisations" href="{{visualisation.path}}">
      <div class="graphic-each">
        <h2>{{visualisation.title}}</h2>
      </div>
    </a>
    <div class="graphic-each">
      <h2>MORE COMING SOON</h2>
    </div>
    <div class="graphic-bottom"></div>
  </div>
</section> -->