.eeg-feed-data {
  height: 500px;
  width: 320px;
  /*float: left;*/
  position: absolute;
  top: 0;
  left: 0;
  padding: 50px;
  /*background: rgba(250,250,250,0.2);*/
  z-index: 100;
}
.eeg-feed-graph {
  /*float: right;*/
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
}